* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1558486012-817176f84c6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=319&q=80");
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
}

.app-main {
    width: 50vh;
    margin: 100px auto;
    background-color: wheat;
    padding: 20px;
    text-align: center;
}

.app-main > * {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    color: darkred;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}

.input-box:focus {
    background-color: whitesmoke;
}

.weather-body {
    display: none;
    color: darkred;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: white;
    height: 50vh;
}

.location-detail {
    font-size: 12pt;
    font-weight: 600;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px black;
}

.min-max, .weather {
    font-size: 12pt;
    font-weight: 600;
}